{% extends 'form_base.html' %}
{% load static %}
 
  {% block 'titulo' %}Cadastro{% endblock 'titulo' %}

  {% block 'conteudo' %}
    <div class="page">
      <header>
        <h1>Registre-se.</h1>
        <p>Preencha esse formulário de inscrição.</p>
      </header>

      <form method='POST' action="{% url 'cadastro' %}" id="myform">
        {% csrf_token %}
        <fieldset>
          <div class="fieldset-wrapper">
            {% include 'partials/_messages.html' %}
            <legend>Informações do Usuário</legend>
            <div class="input-wrapper">
              <label for="firstname"
                >Nome <span>(obrigatório)</span></label
              >
              <input 
              type="text"
              id="firstname"
              name="firstname"
              value="{{ request.POST.name }}"
              minlength="3"
               />
            </div>
            <div class="input-wrapper">
              <label for="lastname"
                >Sobrenome <span>(obrigatório)</span></label
              >
              <input 
              type="text"
              id="lastname"
              name="lastname"
              value="{{ request.POST.name }}"
              minlength="3"
               />
            </div>

            <div class="input-wrapper">
              <label for="username"
                >Usuário<span>(mínimo 5 caracteres)</span></label
              >
              <input 
              type="text" 
              name="username" 
              id="username"
              value="{{ request.POST.username }}"
              minlength="5"
              required/>
            </div>

            <div class="input-wrapper">
              <label for="email"
                >Email <span>(deve ser um email válido)</span></label
              >
              <input 
              type="email" 
              value="{{ request.POST.email }}"
              name="email" 
              id="email" 
              required/>
            </div>
            <div class="input-wrapper">
              <label for="tel"
                >Telefone <span>(número de telefone com DDD)</span></label
              >
              <input 
              type="tel" 
              name="tel" 
              id="tel"
              value="{{ request.POST.tel }}"
              maxlength="15" 
              required/>
            </div>
            <div class="input-wrapper">
              <label for="password"
                >Senha <span>(deve conter no mínimo 5 caracteres)</span></label
              >
              <input 
              type="password" 
              name="password" 
              id="password" 
              required 
              minlength="5"/>
            </div>
            <div class="input-wrapper">
              <label for="password2"
                >Confirmar senha</label
              >
              <input 
              type="password" 
              name="password2" 
              id="password2" 
              required 
              minlength="5"/>
            </div>
          </div>
        </fieldset>
      </form>
      <footer>
        <input 
        class="button"
        type="submit"
        form="myform"
        value="SALVAR">
      </footer>
    </div>
    
  {% endblock 'conteudo' %}

