{% extends 'form_base.html' %}

{% block 'titulo' %}Empresa{% endblock 'titulo' %}

{% block 'conteudo' %}
{% if not user.is_authenticated %}
<div class="page">
    <header>
        <h1>Bem vindo a Empresa</h1>
        <p>Para se conectar em sua conta, preencha os campos abaixo.</p>
    </header>

    <form method="POST" action="{% url 'login' %}" id="myform">
      {% csrf_token %}
      <fieldset>
        <div class="fieldset-wrapper">
          {% include 'partials/_messages.html' %}
          <legend>Login</legend>
          <div class="input-wrapper">
            <label for="username"
              >Usuário</label
            >
            <input 
            type="text" 
            name="username" 
            id="username"
            required
            />
          </div>
          <div class="input-wrapper">
            <label for="password"
              >Senha</label
            >
            <input 
            type="password" 
            name="password" 
            id="password" 
            required 
            />
            <span><a href="{% url 'cadastro' %}">Não possuo uma conta</a></span>
          </div>
        </div>
      </fieldset>
    </form>
    <footer>
      <input 
      class="button"
      type="submit"
      form="myform"
      value="Entrar">
    </footer>
  </div>
{% else %}
<div class="page" stylesheet="width: 600px">
    <header>
        <h1>Você está logado como {{user}},</h1>
        <p>
            <a href="{% url 'logout' %}"class="link-primary">clique aqui</a> para sair <br>
            ou <a href="{% url 'orcamento' %}">aqui para ir para orçamentos</a>
        </p>
        
       
    </header>
</div>


{% endif %}

{% endblock  %}
   